@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+HU:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.container{
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    background: linear-gradient(90deg, #ff7eb3, #ff758c, #ff6a80);
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}
.box{
    display: flex;
    gap: 6px;
position: relative;
left: 20px;

}
.search{
    width: 200px;
    height: 40px;
    outline: none;
 text-align: center;
 font-family: "Open Sans", sans-serif;
 font-weight: 300;
 border: none;
 animation: transform 1s ease-in;

}
.btn{
    /* position: relative;
    top: 5px; */
    /* padding: 4px 10px 4px 6px; */
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #0073e6;
    color: #fff;
    cursor: pointer;

border: none;
border-radius: 6px;
transition: transform 0.3s ease;

}
.btn:hover{
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds inset shadow */
    transform: translateY(4px); /* Moves the button down slightly */

}
.search:focus{
transform: translateY(4px);
box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.2);
}
.logo{
    display: flex;
    justify-content: space-between;
}
h1{
    position: relative;
    top: 20px;
    font-size: 30px;
    font-weight: 600;
}
.font{
    font-size: 80px;
}

.card, .card-body{
    background-color: #FFFFFF;
  
}
.main-content{
display: none;
position: relative;
left:20px;
}
img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.card:hover{
   cursor: pointer;
}
.wrap{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    gap: 50px;
}
.name{
    font-weight: 700;
    font-size: 20px;
}
.font-1{
    font-size: 30px;
}